@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-on-error-container: #93000a;
  --color-secondary: #435e90;
  --color-surface-dim: #dddad4;
  --color-error: #ba1a1a;
  --color-on-background: #1c1c18;
  --color-on-tertiary-container: #ffe0be;
  --color-on-secondary-fixed: #001a40;
  --color-on-surface: #1c1c18;
  --color-tertiary: #6e4500;
  --color-on-error: #ffffff;
  --color-outline-variant: #dec0b8;
  --color-primary-fixed-dim: #ffb5a0;
  --color-secondary-fixed-dim: #acc7ff;
  --color-on-surface-variant: #57423c;
  --color-inverse-primary: #ffb5a0;
  --color-outline: #8b716b;
  --color-surface-container-highest: #e6e2dc;
  --color-primary-fixed: #ffdbd1;
  --color-surface-bright: #fdf9f3;
  --color-on-tertiary-fixed-variant: #643f00;
  --color-surface-container-low: #f7f3ed;
  --color-tertiary-fixed: #ffddb6;
  --color-primary: #8f2d0f;
  --color-tertiary-fixed-dim: #ffb95b;
  --color-inverse-surface: #31302d;
  --color-secondary-container: #a9c4fd;
  --color-surface-container: #f1ede7;
  --color-on-primary: #ffffff;
  --color-inverse-on-surface: #f4f0ea;
  --color-tertiary-container: #8f5b00;
  --color-secondary-fixed: #d7e2ff;
  --color-on-primary-container: #ffded6;
  --color-on-primary-fixed: #3b0900;
  --color-on-primary-fixed-variant: #842507;
  --color-surface-tint: #a43c1e;
  --color-on-tertiary-fixed: #2a1800;
  --color-background: #fdf9f3;
  --color-surface-container-high: #ebe8e2;
  --color-error-container: #ffdad6;
  --color-on-tertiary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-container: #355082;
  --color-surface-variant: #e6e2dc;
  --color-primary-container: #af4425;
  --color-surface: #fdf9f3;
  --color-on-secondary-fixed-variant: #2a4677;

  --font-serif: "EB Garamond", Georgia, serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-sans);
}

.artisan-gradient {
  background: linear-gradient(0deg, rgba(143, 45, 15, 0.85) 0%, rgba(143, 45, 15, 0) 65%);
}

.mandala-overlay {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuARtzDjpL72M7HPLNhWZId8ld7uc0UTPTogIvogJoL-rhgFHLZAU6ZDk-gdvpkP6UTI-JZweI673GW3Ccl-4z9bh149c9OcFUMtrRC7xiLInVC97SYhh2OiMWlFyiljpcwgtfkfEhbt_pSlg5h4WLwdvW9k18aWSffHgBKNTBf6xjm999TXLDwRTaYIUfxz3pxxs1HfkNkeVGgtWkJLdmHHfaDvAKGhOVfvG0WkOi2kozpjs5rtrAhOkSqJHjkkw_0IXkyg1slDGkM');
  opacity: 0.035;
}

.pattern-overlay {
  background-image: radial-gradient(#8f2d0f 0.5px, transparent 0.5px);
  background-size: 16px 16px;
  opacity: 0.05;
}

.pattern-bg {
  background-image: radial-gradient(circle at 2px 2px, rgba(143, 45, 15, 0.03) 1px, transparent 0);
  background-size: 24px 24px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8f2d0f;
  border-radius: 10px;
}

